<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="en,pt">

    <title>React Front</title>

    <%- styles %>
    <link rel="stylesheet" href="/index.css">
  </head>

  <body>
    <div id="root"><%- reactApp %></div>

    <script src="/index.js" charset="utf-8"></script>
    <script src="/vendor.js" charset="utf-8"></script>
  </body>
</html>
